@import '~normalize.css';

body {
  margin: 0;
  background-color: rgba(248, 248, 248, 1);
  width: 100vw;
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}

/*Убрать полосу прокрутки у элемента*/
/* .modal__content::-webkit-scrollbar {
  width: 0;
} */

/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
  width: 0;
}
